.footer {

    width: 100%;

    text-align: end;
    position: fixed;
    font-size: 1.4rem;
    bottom: 0;
    align-items: center;
    justify-content: center;

    a {
        padding: .2rem;
    }
}